.navbar{
    background-color: #e3f2fd;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.logo{
    margin-left: 60px;
    padding-top: 30px;
    cursor: pointer;
}
.header{
    padding-top: 20px;
    margin-right: 0px;
    color: deepskyblue;
    cursor: pointer;
}
.icon{
    margin-left: 40px;
    padding-top: 40px;
    cursor: pointer;
}
.text{
    margin-right: 40px;
    padding-top: 30px;
}
.main{
    padding-top: 20px;
    margin-left: 100px;
    width: 100%;

}
.Card{
    padding-top: 20px;
    margin: 5px 5px 5px 5px;
}
button{
    border: none;
}
button:hover{
    color: crimson;
}
.contact{
    padding-top: 60px;
    margin-left: 70px;
}
.corner{
  border-radius: 25px;
  border: 1px solid black;
  padding: 20px; 
  width: 1000px;
  height: 120px;
}
.corner1{
    font-size: 30px;
}
.corner3{
    padding-top: 10px;
    font-size: 20px;
    color: rgb(45, 136, 221);
}