.navbar{
    background-color: #e3f2fd;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.logo{
    margin-left: 60px;
    padding-top: 30px;
    cursor: pointer;
}
.header{
    padding-top: 20px;
    margin-right: 0px;
    color: deepskyblue;
    cursor: pointer;
}
.icon{
    margin-left: 40px;
    padding-top: 40px;
    cursor: ``;
}
.text{
    margin-right: 40px;
    padding-top: 30px;
}
.main{
    padding-top: 20px;
    margin-left: 80px;
}
.Card{
    padding-top: 20px;
}